<!-- table.html -->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>

<h2><a href="/">< Back to homepage</a></h2>

 
<!--
<form action="/table" method="POST">
    Sort By:<br/>
    <input type="radio" name="sortby" value="ratings"/> Ratings <br/>
    <input type="radio" name="sortby" value="grossusa"/> Gross USA <br/>
    <input type="radio" name="sortby" value="grossworld"/> Gross Worldwide <br/>
    <br/>
    Sort Order:<br/>
    <input type="radio" name="sortorder" value="asc"/> Ascending <br/>
    <input type="radio" name="sortorder" value="desc"/> Descending <br/>
    <br/>
    <input type="submit" name="update" value="Update"/>
    <br/>
    <br/>
</form>
-->
    
<table>
    <tr>
        <th>Titles</th>
        <th>Ratings</th>
        <th>Director</th>
        <th>Genre</th>
        <th>Country</th>
        <th>Language</th>
        <th>Gross USA</th>
        <th>Gross Worldwide</th>
    </tr>
    
    {% for movie in movies %}
    <tr>
        {% for cell in movie %}
        <td>{{cell if cell is not none else ''}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>